.secondary {
    border-radius: 30px;
    height: 56px; //48px mob
    padding: 0 1.5rem;
    color: $black;
    ::first-letter {
        text-transform: capitalize;
    }
}
.secondary.peach {
    background-color: $peach;
    border: solid 3px $peach;
}
.secondary.black {
    background-color: $black;
    border: solid 3px $black;
    color: $white;
}
.secondary.hover {
    border: solid 3px $black;
}
.secondary.focus {
    border: solid 3px $black;
}
.secondary.disabled {
    border: solid 3px $black25;
    background-color: $black25;
    color: $black65;
}

.secondary-wrapper {
    @include flex(row wrap, flex-start, stretch, auto, flex-start, 2.5em);
}