.mode-wrapper {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    border: none;
    background-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    i {
        color: #8d8d8d;
        font-size: 1.5em;
    }
}
[dark] .mode-wrapper i {
    transform: scaleX(-1);
}
