* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
html {
    overflow-y: hidden;
    overflow-x: hidden;
}*/
body {
    scroll-behavior: smooth;
}
@media only screen and (min-width: 600px) {
    body {
        margin-left: 20rem;
    }
  }
main {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 1em);
}
section {
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 1rem);
    margin: 0 4rem;
}
div {
    @include flex(column wrap, flex-start, stretch, auto, flex-start, 1rem);
}

[light] body {
    background-color: $white;
}
[dark] body {
    background-color: $black;
}
/*
img {
  filter: brightness(.8) contrast(1.2);
}
*/