* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
html {
    overflow-y: hidden;
    overflow-x: hidden;
}*/
body {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
}

main {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 2.5em);
}
section {
    @include flex(column nowrap, flex-start, stretch, auto, flex-start, 2rem);
}
div {
    @include flex(column wrap, flex-start, stretch, auto, flex-start, 1.5em);
}
[light] body {
    background-color: $white;
}
[dark] body {
    background-color: $black;
}
/*
img {
  filter: brightness(.8) contrast(1.2);
}
*/
@media only screen and (min-width: 600px) {
    body {
        margin-left: 30rem;
    }
    section {
        max-width: 680px; //tekstspalter bør ligge mellom 60–80 tegn (bokstaver og mellomrom).

    }
}