.color-box-wrapper {
    @include flex(row wrap, flex-start, stretch, auto, flex-start, 2rem);
    margin: 1rem 0;
}
.color-box {
    @include flex(row nowrap, flex-start, stretch, auto, flex-start, 2rem);
    input {
        cursor: pointer;
        border: none;
        height: 9rem;
        width: 14rem;
        &:focus {
            outline: 2px solid $yellow;
            outline-offset: 6px;
        }
    }
    label {
        font-size: 1.5em;
    }
    .txt {
        @include flex(column wrap, flex-start, stretch, auto, flex-start, 0);
    }
}