@font-face {
    font-family: DiatypeRegular;
    src: url("./font/NorgesBlindeforbundDiatype-Regular.woff2") format("woff2"),
        url("./font/NorgesBlindeforbundDiatype-Regular.woff") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: DiatypeBold;
    src: url("./font/NorgesBlindeforbundDiatype-Bold.woff2") format("woff2"),
        url("./font/NorgesBlindeforbundDiatype-Bold.woff") format("woff");
    font-weight: bold;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
[dark] {
    body,
    a,
    button {
        color: $white;
        ::selection {
            background: lighten($yellow, 30%);
            color: $black;
        }
    }
}
[light] {
    body,
    a,
    button {
        color: $black;
        ::selection {
            background: lighten($yellow, 30%);
        }
    }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4, 
label {
    font-family: DiatypeBold, Verdana;
}

body,
button {
    font-family: DiatypeRegular, Verdana;
    line-height: 1.25em;
    font-size: 1em;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25em;
    &::first-letter {
        text-transform: capitalize;
    }
}

h1 {
    font-size: clamp(32px, 5.0625em, 5vw); //h2 * 150%
}
h2 {
    font-size: 3.375em; //h3 * 150%
}
h3 {
    font-size: 2.25em; //h4 * 150%
}
h4 {
    font-size: 1.5em; //p * 150%
}