//primary colours
$yellow: #ffdf00;
$yellow65: #ffea59;
$yellow25: #fff7bf;

$peach: #ffa76a;
$peach65: #ffc69e;
$peach25: #ffe9da;

$black: #000000;
$black65: #595959;
$black25: #bfbfbf;

$white: #ffffff;

//secondary colours
$red: #aa182b;