* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
html {
    overflow-y: hidden;
    overflow-x: hidden;
}*/
body {
  scroll-behavior: smooth;
  margin-left: 20rem;
  background-color: aquamarine;
}

main {
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
}

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  margin: 0 4rem;
}

[light] body {
  background-color: #ffffff;
}

[dark] body {
  background-color: #000000;
}

/*
img {
  filter: brightness(.8) contrast(1.2);
}
*/
.column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 10rem;
}

input[type=color] {
  height: 6rem;
  width: 6rem;
}

@font-face {
  font-family: DiatypeRegular;
  src: url("./font/NorgesBlindeforbundDiatype-Regular.woff2") format("woff2"), url("./font/NorgesBlindeforbundDiatype-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: DiatypeBold;
  src: url("./font/NorgesBlindeforbundDiatype-Bold.woff2") format("woff2"), url("./font/NorgesBlindeforbundDiatype-Bold.woff") format("woff");
  font-weight: bold;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[dark] body,
[dark] a,
[dark] button {
  color: #ffffff;
}
[dark] body ::selection,
[dark] a ::selection,
[dark] button ::selection {
  background: #fff299;
}

[light] body,
[light] a,
[light] button {
  color: #000000;
}
[light] body ::selection,
[light] a ::selection,
[light] button ::selection {
  background: #fff299;
}

h1,
.h1 {
  font-family: DiatypeBold, Verdana;
  font-size: 72pt;
  line-height: 1em;
}

h2,
.h2 {
  font-family: DiatypeBold, Verdana;
  font-size: 56px;
}

h3,
.h3 {
  font-family: DiatypeBold, Verdana;
  font-size: 48px;
}

h4,
.h4 {
  font-family: DiatypeBold, Verdana;
  font-size: 32px;
}

body,
button {
  font-family: DiatypeRegular, Verdana;
  font-size: 20px;
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  height: 100vh;
  width: 20rem;
  position: fixed;
  left: 0;
  padding: 1rem;
}

[light] nav {
  background-color: rgb(236, 236, 236);
}

[dark] nav {
  background-color: #212121;
}

.accordion {
  list-style: none;
  margin: 1rem;
}

.accordion-title {
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 1rem;
  cursor: pointer;
}
.accordion-title ::first-letter {
  text-transform: capitalize;
}

.accordion-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5em 0;
  list-style: none;
  margin-left: 1.6rem;
}
.accordion-content ::first-letter {
  text-transform: capitalize;
}

.mode-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  width: 100%;
  height: 1.75em;
  border: none;
  background-color: #ffffff;
}
.mode-wrapper .light,
.mode-wrapper .dark {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.2em;
  background-color: transparent;
  color: #000000;
}

.float-bg {
  position: absolute;
  background-color: #ffdf00;
  width: 9rem;
  height: 1.75em;
  z-index: 1;
  left: 0;
}

[light] .float-bg {
  margin-left: 1rem;
  transition: margin 0.5s;
}

[dark] .mode-wrapper {
  background-color: #000000;
}
[dark] .mode-wrapper .light {
  color: #ffffff;
}
[dark] .float-bg {
  margin-left: 9.98rem;
  transition: margin 0.5s;
}

/*# sourceMappingURL=styles.css.map */
