* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
html {
    overflow-y: hidden;
    overflow-x: hidden;
}*/
body {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

main {
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2.5em;
}

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2rem;
}

div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1.5em;
}

[light] body {
  background-color: #ffffff;
}

[dark] body {
  background-color: #000000;
}

/*
img {
  filter: brightness(.8) contrast(1.2);
}
*/
@media only screen and (min-width: 600px) {
  body {
    margin-left: 30rem;
  }

  section {
    max-width: 680px;
  }
}
@font-face {
  font-family: DiatypeRegular;
  src: url("./font/NorgesBlindeforbundDiatype-Regular.woff2") format("woff2"), url("./font/NorgesBlindeforbundDiatype-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: DiatypeBold;
  src: url("./font/NorgesBlindeforbundDiatype-Bold.woff2") format("woff2"), url("./font/NorgesBlindeforbundDiatype-Bold.woff") format("woff");
  font-weight: bold;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[dark] body,
[dark] a {
  color: #ffffff;
}
[dark] body ::selection,
[dark] a ::selection {
  background: #ffdf00;
  color: #000000;
}

[light] body,
[light] a {
  color: #000000;
}
[light] body ::selection,
[light] a ::selection {
  background: #ffdf00;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
label {
  font-family: DiatypeBold, Verdana;
}

body,
button {
  font-family: DiatypeRegular, Verdana;
  line-height: 1.5em;
  font-size: 20px;
}

label,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
}
label::first-letter,
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: clamp(48px, 72pt, 6vw);
  margin-top: 5rem;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

[light] nav {
  background-color: rgb(236, 236, 236);
}

[dark] nav {
  background-color: #212121;
}

@media only screen and (min-width: 600px) {
  nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-self: auto;
    align-content: flex-start;
    gap: 0;
    height: 100vh;
    width: 25rem;
    position: fixed;
    left: 0;
    padding: 3rem 4rem;
    overflow: auto;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-self: auto;
    align-content: flex-start;
    gap: 0;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem;
  }
}
.accordion {
  list-style: none;
  margin: 1rem;
  width: 100%;
}

.accordion-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 1rem;
  margin: 1.75em 0;
  width: 100%;
  height: 1rem;
  font-family: DiatypeBold, Verdana;
  font-size: 22px;
  cursor: pointer;
}
.accordion-title ::first-letter {
  text-transform: capitalize;
}

.accordion-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0.5em 0;
  list-style: none;
  margin: 0 1.6rem;
}
.accordion-content ::first-letter {
  text-transform: capitalize;
}

.accordion-btn {
  width: 1rem;
}

.color-box-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2rem;
  margin: 1rem 0;
}

.color-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2rem;
}
.color-box input {
  cursor: pointer;
  border: none;
  height: 10rem;
  width: 14rem;
}
.color-box input:focus {
  outline: 2px solid #ffdf00;
  outline-offset: 6px;
}
.color-box label {
  font-size: 1.5em;
}
.color-box .txt {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 0;
}

.mode-wrapper {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
}
.mode-wrapper i {
  color: #8d8d8d;
  font-size: 1.5em;
}

[dark] .mode-wrapper i {
  transform: scaleX(-1);
}

.primary {
  border-radius: 30px;
  height: 56px;
  padding: 0 1rem;
  background-color: #ffdf00;
  border: solid 3px #ffdf00;
  color: #000000;
}
.primary ::first-letter {
  text-transform: capitalize;
}

.primary.hover {
  border: solid 3px #000000;
}

.primary.focus {
  border: solid 3px #000000;
}

.primary.disabled {
  border: solid 3px #bfbfbf;
  background-color: #bfbfbf;
  color: #595959;
}

.secondary {
  border-radius: 30px;
  height: 56px;
  padding: 0 1.5rem;
  color: #000000;
}
.secondary ::first-letter {
  text-transform: capitalize;
}

.secondary.peach {
  background-color: #ffa76a;
  border: solid 3px #ffa76a;
}

.secondary.black {
  background-color: #000000;
  border: solid 3px #000000;
  color: #ffffff;
}

.secondary.hover {
  border: solid 3px #000000;
}

.secondary.focus {
  border: solid 3px #000000;
}

.secondary.disabled {
  border: solid 3px #bfbfbf;
  background-color: #bfbfbf;
  color: #595959;
}

.secondary-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-self: auto;
  align-content: flex-start;
  gap: 2.5em;
}

.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 1rem;
  border-radius: 30px;
  height: 56px;
  width: 9.4rem;
  background-color: #ffdf00;
  border: solid 3px #ffdf00;
}
.menu ::first-letter {
  text-transform: capitalize;
}
.menu .icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 6px;
}
.menu .icon .bar {
  width: 32px;
  height: 3px;
  background-color: #000000;
  line-height: 0;
}
.menu:hover .icon, .menu:focus-within .icon {
  position: relative;
  top: -4.5px;
}
.menu:hover .icon .bar, .menu:focus-within .icon .bar {
  position: relative;
  transition: 0.4s;
}
.menu:hover .icon .bar:nth-of-type(1), .menu:focus-within .icon .bar:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 9px;
}
.menu:hover .icon .bar:nth-of-type(2), .menu:focus-within .icon .bar:nth-of-type(2) {
  display: none;
}
.menu:hover .icon .bar:nth-of-type(3), .menu:focus-within .icon .bar:nth-of-type(3) {
  transform: rotate(45deg);
  top: 0px;
}

.menu.active {
  background-color: #000000;
  border: solid 3px #000000;
  color: #ffffff;
}
.menu.active .icon {
  position: relative;
  top: -4.5px;
}
.menu.active .icon .bar {
  background-color: #ffffff;
  position: relative;
  transition: 0.4s;
}
.menu.active .icon .bar:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 9px;
}
.menu.active .icon .bar:nth-of-type(2) {
  display: none;
}
.menu.active .icon .bar:nth-of-type(3) {
  transform: rotate(45deg);
  top: 0px;
}

/*# sourceMappingURL=styles.css.map */
